/* PÁGINA DO PET =========================================*/

.pet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px;
}

/* IMAGENS DO PET */
.pet-imagens{
    display: flex;
    gap: 15px;
}

/* FOTOS */
.pet-imagens img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

/* INFORMAÇÕES */
.pet-info{
    width: 400px;
}

/* NOME */
.pet-info h1{
    font-size: 40px;
    color: #364C59;
    margin-bottom: 20px;
}

/* TEXTO */
.pet-info p{
    margin-bottom: 15px;
    font-size: 18px;
}

/* BOTÃO */
.pet-info .btn{
    display: inline-block;
    margin-top: 15px;
    background-color: #364C59;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

/* HOVER */
.pet-info .btn:hover{
    background-color: #5C6A73;
}

/* BOTÃO VOLTAR */
.voltar-area{
    margin: 30px 50px 0px 50px;
}

.btn-voltar{
    background-color: #364C59;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn-voltar:hover{
    background-color: #5C6A73;
}
